<div class="cards-page flexed col">
  <nav class="page-header flexed padded">
    <h3>cartões</h3>

    <span class="spacer"></span>

    <!-- <button class="btn circle text">
      <i class="bi bi-grid-fill"></i>
    </button> -->
    <h3 class="btn">
      :)
    </h3>
  </nav>

  <div class="app-menu" [ngClass]="{'active': showMenu}">
    <app-menu></app-menu>
  </div>

  <span class="spacer"></span>

  <div class="cards flexed padded-x padded-05-y" *ngIf="cardsSvc.cards$ | async as cards; else loadingCardsTemplate">
    <div *ngFor="let card of cards" class="card">
      <app-card tabindex="2" [card]="card" [routerLink]="card.id"></app-card>
    </div>
    <div class="sized-box-05 flex-none"></div>

    <ng-template *ngIf="!cards.length">
      <div class="cards flexed col center padded-x">
        <h1>You don't have any cards yet, start creating</h1>

        <button routerLink="/creator/new-card" class="btn primary">
          new card
        </button>
      </div>
    </ng-template>
  </div>

  <ng-template #loadingCardsTemplate>
    <div class="cards flexed padded-x padded-05-y">
      <div class="loading-zone flexed center">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
  </ng-template>

  <!-- <div *ngIf="(cards$ |async).length" class="cards-controls padded-x flexed">
    <span class="spacer"></span>

    <button (click)="prev()" class="prev btn circle text">
      <i class="bi bi-arrow-left small"></i>
    </button>

    <div class="sized-box-05"></div>

    <button (click)="next()" class="btn circle text">
      <i class="bi bi-arrow-right medium"></i>
    </button>
  </div> -->

  <div class="sized-box"></div>

  <span class="spacer"></span>

  <footer class="cards-footer flexed padded">
    <div class="info flexed col">
      <span>from</span>

      <div class="cards-filter">
        <b class="filter-name inline">you</b>
        <span class="padded-05-x">|</span>
        <b class="filter-name">me</b>
        <span class="padded-05-x">|</span>
        <b class="filter-name active">us</b>
      </div>
    </div>

    <span class="spacer"></span>


    <div class="controls flexed">
      <div class="flexed end col">
        <button routerLink="/creator/create-card" aria-label="new card" class="btn raised circle primary">
          <i class="bi bi-plus"></i>
        </button>
      </div>

      <div class="sized-box"></div>

      <div class="flexed end col">
        <button (click)="showMenu = !showMenu" aria-label="menu" class="btn raised circle primary menu-control ">
          <i *ngIf="!showMenu;else closeMenu" class="bi bi-list small"></i>
          <ng-template #closeMenu>
            <i class="bi bi-x small"></i>
          </ng-template>
        </button>
      </div>
    </div>
  </footer>
</div>
