<div class="cards-page flexed col">
    <nav class="page-header flexed padded">
        <h3>cartões</h3>

        <span class="spacer"></span>

        <button class="btn circle text">
            <i class="bi bi-grid-fill"></i>
        </button>
    </nav>

    <span class="spacer"></span>

    <div class="cards padded">
        <app-card></app-card>
    </div>

    <span class="spacer"></span>

    <footer class="cards-footer flexed padded">
        <div class="info flexed col">
            <h3 class="padded-05-y">350</h3>

            <h2>
                <a href="#">the</a>
                <span class="padded-05-x">/</span>
                <a href="#">me</a>
            </h2>
        </div>

        <span class="spacer"></span>


        <div class="controls flexed">
            <div class="flexed end col">
                <button class="btn circle primary">
                    <i class="bi bi-plus"></i>
                </button>
            </div>

            <div class="sized-box"></div>

            <div class="flexed end col">
                <button class="btn circle primary">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>
    </footer>
</div>
