<div class="card padded" [ngStyle]="{
  'background-color': card.background.color,
  'background-image': 'url(' + card.background.imageUrl +')' ,
  'background-size': card.background.size + 'px',
  'background-repeat': card.background.repeat,
  'background-position-x': card.background.positionX,
  'background-position-y': card.background.positionY,
  'color': card.textColor
}">
  <div class="sized-box-4"></div>
  <div class="sized-box-4"></div>

  <p class="message" [ngStyle]="{'-webkit-text-stroke':'0.5px ' + card.textStrokeColor}">
    {{card.message}}
  </p>
</div>
