<div class="admin-page  flexed col">
  <nav class="page-header flexed padded">
    <button (click)="goBack()" class="btn circle text">
      <i class="bi bi-x"></i>
    </button>
    <h4>Add background</h4>

    <span class="spacer"></span>

    <button (click)="submitBackground()" class="btn accent circle text" [disabled]="!isValidBackground">
      <i class="bi bi-check-circle-fill"></i>
    </button>
  </nav>

  <div class="flexed col padded">
    <div class="image-preview">
      <app-card #previewCardRef (click)="imageInput.click()" [card]="previewCard"></app-card>
    </div>

    <div class="image-selector flexed end" [ngClass]="{'hide': showPreview}">
      <input (change)="handleFileInput($event)" #imageInput type="file" accept="image/*" class="image-input"
        name="image-input" id="image-input">
      <button (click)="imageInput.click()" class="btn outline text">
        select image
      </button>
    </div>
    <div class="sized-box"></div>
    <div class="controls">
      <header class="flexed">
        <h5 (click)="selectedControl='size'" class="group-name text-center" [ngClass]="{'active': selectedControl}">
          size
        </h5>
        <h5 class="padded-x">|</h5>
        <h5 (click)="selectedControl='position'" class="group-name text-center" [ngClass]="{'active': selectedControl}">
          Positoning
        </h5>
      </header>

      <div *ngIf="selectedControl === 'size'" class="size flexed center padded-y">
        <input [(ngModel)]="size" type="number" min="50" max="1000" placeholder="width..." class="size-input">

        <div class="sized-box"></div>

        <button (click)="repeat='no-repeat'" class="btn circle text">
          <i class="bi bi-square-fill"></i>
        </button>

        <div class="sized-box"></div>

        <button (click)="repeat='repeat-x'" class="btn circle text">
          <i class="bi bi-distribute-horizontal"></i>
        </button>

        <div class="sized-box"></div>

        <button (click)="repeat='repeat-y'" class="btn circle text">
          <i class="bi bi-distribute-vertical"></i>
        </button>

        <div class="sized-box"></div>
        <button (click)="repeat='repeat'" class="btn circle text">
          <i class="bi bi-grid-3x3-gap-fill"></i>
        </button>
      </div>

      <div *ngIf="selectedControl === 'position'" class="position flexed center">
        <div class="position-x padded-y flexed">
          <button (click)="positionX='left'" class="btn circle">
            <i class="bi bi-arrow-left"></i>
          </button>

          <button (click)="positionX='center'" class="btn circle">
            <i class="bi bi-dot"></i>
          </button>

          <button (click)="positionX='right'" class="btn circle">
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>

        <div class="position-y  padded flexed">
          <button (click)="positionY='top'" class="btn circle">
            <i class="bi bi-arrow-up"></i>
          </button>

          <button (click)="positionY='center'" class="btn circle">
            <i class="bi bi-dot"></i>
          </button>

          <button (click)="positionY='bottom'" class="btn circle">
            <i class="bi bi-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>

    <span class="spacer"></span>
  </div>
</div>
