<div class="customize-container flexed col">
  <div class="card-background padded">
    <div class="preview">
      <app-card [card]="crateCardSvc.card"></app-card>
    </div>
  </div>

  <span class="spacer"></span>

  <div *ngIf="customizingZone === 'background'" class="background-picker padded">
    <b class="padded-05-y">Fundo</b>

    <div class="colors flexed">
      <div *ngFor="let background of (crateCardSvc.backgrounds$ | async)"
        (click)="crateCardSvc.setCardBackground = background"
        [ngStyle]="{'background': 'url(' + background.imageUrl + ')'}" class="color image">
        <span>{{background.color}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="customizingZone === 'color'" class="color-picker padded">
    <b class="padded-05-y">Cor do Texto</b>

    <div class="colors flexed">
      <div *ngFor="let color of textColors" (click)="crateCardSvc.setTextColor = color"
        [ngStyle]="{'background': color}" class="color">
      </div>
    </div>
  </div>

  <div *ngIf="customizingZone === 'font'" class="color-picker padded">
    <b class="padded-05-y">Fonte</b>

    TODO
    <!-- <div class="colors flexed">
      <div *ngFor="let color of textColors" (click)="setColor(color)" [ngStyle]="{'background': color}" class="color">
      </div>
    </div> -->
  </div>


  <span class="spacer"></span>

  <nav class="customize-options flexed">
    <button (click)="customizingZone= 'font'" class="btn flexed col center"
      [ngClass]="{'text-primary': customizingZone === 'font'}">
      <i class="bi bi-file-font-fill"></i>
      <span>Fonte</span>
    </button>

    <button (click)="customizingZone = 'background'" class="btn flexed col center"
      [ngClass]="{'text-primary': customizingZone === 'background'}">
      <i class="bi bi-image"></i>
      <span>Fundo</span>
    </button>

    <button (click)="customizingZone= 'color' " class="btn flexed col center"
      [ngClass]="{'text-primary': customizingZone === 'color'}">
      <i class="bi bi-circle-half"></i>
      <span>Cor do texto</span>
    </button>
  </nav>

</div>
